*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    height: 100px;
    background-color: #4d4d5c;
    padding: 0 50px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body{
    background-color: antiquewhite;
    position: relative;
    padding-bottom: 70px;
    min-height: 100vh;
}
.logo{
    text-transform: uppercase;
    color: #6cc091;
    font-weight: 200;
    border-style: solid;
    border-color: #6cc091;
}
.logo a{
    text-transform: uppercase;
    color: #6cc091;
    font-weight: 200;
    text-decoration: none;
}
.logo:hover{
    background-color: #6cc091;
    color: #fff;
    transition: 2s;
}
.logo a:hover{
    background-color: #6cc091;
    color: #fff;
    transition: 2s;
}
.menu{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
}
.menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none
}
.menu a:hover{
    background-color: #6cc091;
    color: #fff;
    transition: 2s;
}
.mostrar-menu,
esconder-menu{
    font-size: 30px;
    cursor: pointer;
    transition: 0.4s;
}
.mostrar-menu{
    order: 1;
}
.mostrar-menu:hover,
.esconder-menu:hover{
    color: #6cc091;
}
#check{
    display: none;
}
#banner{
    padding: 0 50px;
    background-image: url(./fotos/pino-planta.jpg);
    height: 45vh;
    background-size: cover;
    background-position: center;
}
#banner::before{
    content: '';
    background: rgba(77, 77, 92, 0.6);
    position: absolute;
    width: 100%;
    height: 45vh;
    left: 0;
}
.contenido-banner{
    position: relative;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenido-banner h3{
    font-size: 30px;
    font-weight: 400;
    padding: 10px 0px;
}
.contenido-banner h3 span{
    font-weight: 600;
}
.boton-encontranos{
    text-decoration: none;
    color: #fff;
    border: 1px solid #6cc091;
    padding: 20px 40px;
    align-self: baseline;
    transition: all 0.4s;
}
.boton-encontranos:hover{
    background: #6cc09070;
}
#sucursales{
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}
#sucursales img{
    width: 200px;
    height: 200px;
    border-radius: 20%;
    object-fit: cover;
    margin-right: 10px;
}
#sucursales div{
    padding: 30px 30px;
}
#sucursales div h4{
    color: #4d4d5c;
    font-size: 20px;
    margin: 15px 0px;
}
#sucursales div p{
    color: #4d4d5c87;
    font-size: 18px;
}
.boton-saber-mas{
    display: inline-block;
    text-decoration: none;
    color: #6cc091;
    padding: 10px 30px;
    border: 3px solid #6cc091;
    border-radius: 30px;
    margin-top: 15px;
    transition: all 0.4s;
}
.boton-saber-mas:hover{
    background-color: #6cc091;
    color: #fff;
}
.mapa iframe{
    justify-content: center;
    width: 1500px;
    padding: 100px;
}
.mapa{
    justify-content: center;
}
@media(max-width: 768px){

    .mostrar-menu,
    .esconder-menu{
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:#4d4d5c;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0;
        z-index: 100;
        transition: 0.8s;
    }
    .media a{
        display: block;
        padding: 20px;
    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #check:checked ~ .menu{
        right: 0;
    }
    #sucursales{
        flex-direction: column;
    }
}
footer{
    width: 100%;
    height: 70px;
    background-color:#4d4d5c;
    color:#6cc091;
    margin-top: 40px;
    bottom: 0;
    position: absolute;
}
footer p{
    text-align: center;
    padding: 10px;
}
bodi{
    background: lightblue;
    margin: 0;
}
.form{
    width: 340px;
    height: 440px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw -40px);
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}
.h2-contactos{
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: #4d4d5c;
    border-bottom: 3px solid black;
}
input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.4s;
    border-bottom: 2px solid black;
}
input:focus{
    border-bottom: 2px solid lightblue;
}
p::before{
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #4d4d5c;
}
button{
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid black;
    background: 0;
    color: #000;
    cursor: pointer;
    transition: all 0.4s;   
}
button:hover{
    background: #4d4d5c;
    color: #fff;
}
.contactos{
    position: absolute;
    bottom: -15px;
    right: -10px;
    background: #000;
    color: white;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px 14px #000;
}
span{
    margin: 0 5px 0 15px;
}
.contenedor{
    margin: 30px;
    padding: 30px;
    margin-left: 80px;
}
.contenido{
   display: flex;
   margin: 60px;
}
.secciones{
   display: flex;
   padding: 40px;
   align-items: center;
}
.secciones p{
   margin-top: 20px;
}
.secciones img{
   width: 200px;
   height: 200px;
   border-radius: 20%;
   object-fit: cover;
   margin-right: 10px;
}